
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY('-10deg');
    }
    to {
        opacity: 1;
        transform: translateY('0');
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    background: white
}

nav {
    height: 100px;
    width: 100%;
    animation: transitionIn 5s;
}

label.logo {
    color: white;
    background: transparent;
    display: block;
    font-size: 25px;
    line-height: 100px;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul {
    text-align: center;
    background: rgba(0,0,0,.5);
    width: 100%;
    display: block;
    font-size: 25px;
    margin-top: 150px;
}

nav ul li {
    display: inline-flex;
    color: white;
    text-decoration: italic;
    line-height: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

html {
    scroll-behavior: smooth;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


.header-with-background {
    background-image: url("./../images/cityscape-paris-hd-wallpaper-5120x2160.jpg");
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 100%;
    
}

.intro {
    font-size: 75px;
    text-align: center;
    color: white;
    display: block;
    margin-top: 50px;
    animation: transitionIn 5s;
}
 .pre-search {
    padding: 75px;
    text-align: center;
    color: black;
    background: white;
    font-size: 50px;
    animation: slide;
    animation: transitionIn 10s;
} 

.section-with-background {
    background-image: url("./../images/304313-1600x1066-beer-food-pairing.jpeg");
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 100%;
}


.userInput {
    margin-top: 100px;
    text-align: center;
}

.box {
    width: 500px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.search-container {
    text-align: center;
}

.searchBtn {
    margin-top: 10px;
}

footer {
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 15px;
}

/* Gina added the below section to style the modal window*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* #placeNearBy{
    background-color: gray;
  } */