* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    to right,
    navy 0%,
    navy 50%,
    white 50%,
    white 100%
  );
}

nav {
    background-color: navy;
    height: 100px;
    width: 100%;
}

label.logo {
color: white;
font-size: 20px;
line-height: 100px;
margin-left: 50px;
font-family: 'Fira Sans', sans-serif 'Mukta', sans-serif 'Poiret One', cursive 'Raleway', sans-serif;;
}

nav ul {
    float: right;
    margin-right: 25px;

}

nav ul li {
    display: inline-flex;
    color: white;
    line-height: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    
}

/* nav ul li a:hover {
    color: gold;
} */

.intro {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 45px;
    color: whitesmoke;
    width: 100%;
     height: 10vh; 
    background: linear-gradient(
    to right,
    navy 0%,
    navy 50%,
    white 0%,
    white 50%
  );
}

.city {
    float: right;
    margin-right: 35px;
    position: relative;
}
.pre-search {
    margin-top: 900px;
    text-align: center;
    color: gray;
    font-size: 30px;
}

.userInput {
    margin-top: 50px;
    text-align: center;
}

.box {
    width: 700px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
  }
  
  .search-container {
    text-align: center;
  }